# Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Load CSV Data

In [30]:
netflix_file = "Resources/netflix_titles.csv"
netflix_df = pd.read_csv(netflix_file)        
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [31]:
wiki_file = "Resources/wiki_movie_plots_deduped.csv"
wiki_df = pd.read_csv(wiki_file)
wiki_df.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

# Transform titles_file

In [32]:

# Create a filtered dataframe from specific columns
netflix_cols = ["title", "country", "release_year", "listed_in"]
netflix_transformed= netflix_df[netflix_cols].copy()

# Rename the column headers
netflix_transformed = netflix_transformed.rename(columns={"title": "title",
                                                          "country": "country",
                                                          "release_year": "release_year",
                                                            "listed_in" : "genre"})
netflix_transformed.head()

,title,country,release_year,genre
0,3%,Brazil,2020,"International TV Shows, TV Dramas, TV Sci-Fi &..."
1,7:19,Mexico,2016,"Dramas, International Movies"
2,23:59,Singapore,2011,"Horror Movies, International Movies"
3,9,United States,2009,"Action & Adventure, Independent Movies, Sci-Fi..."
4,21,United States,2008,Dramas

In [38]:
# Filter only rows for "release_year" 2010 to 2018.

netflix_filtered = netflix_transformed[(netflix_transformed["release_year"] >= 2010) & (netflix_transformed["release_year"] < 2018)]
netflix_filtered

,title,country,release_year,genre
1,7:19,Mexico,2016,"Dramas, International Movies"
2,23:59,Singapore,2011,"Horror Movies, International Movies"
5,46,Turkey,2016,"International TV Shows, TV Dramas, TV Mysteries"
10,1922,United States,2017,"Dramas, Thrillers"
15,Oct-01,Nigeria,2014,"Dramas, International Movies, Thrillers"
...,...,...,...,...
7770,Zinzana,"United Arab Emirates, Jordan",2015,"Dramas, International Movies, Thrillers"
7772,Zipi & Zape y la Isla del Capitan,Spain,2016,"Children & Family Movies, Comedies"
7773,Zoé: Panoramas,Mexico,2016,"Documentaries, International Movies, Music & M..."
7776,Zokkomon,India,2011,"Children & Family Movies, Dramas"
7783,Zubaan,India,2015,"Dramas, International Movies, Music & Musicals"

# Transform plot_file

In [34]:
# Checked for missing Plot entries
wiki_df.dropna(subset=['Plot'], how='all', inplace=True)
#wiki_df


# Create a filtered dataframe from specific columns
wiki_cols = ["Title", "Release Year", "Director", "Cast", "Genre", "Plot"]
wiki_transformed= wiki_df[wiki_cols].copy() 

# Rename the column headers
wiki_transformed = wiki_transformed.rename(columns={"Title": "title",
                                                    "Release Year" : "release_year",
                                                          "Director": "director",
                                                          "Cast": "cast",
                                                            "Genre" : "genre",
                                                           "Plot": "plot"})
                                           
wiki_transformed.head()

,title,release_year,director,cast,genre,plot
0,Kansas Saloon Smashers,1901,Unknown,NaN,unknown,"A bartender is working at a saloon, serving dr..."
1,Love by the Light of the Moon,1901,Unknown,NaN,unknown,"The moon, painted with a smiling face hangs ov..."
2,The Martyred Presidents,1901,Unknown,NaN,unknown,"The film, just over a minute long, is composed..."
3,"Terrible Teddy, the Grizzly King",1901,Unknown,NaN,unknown,Lasting just 61 seconds and consisting of two ...
4,Jack and the Beanstalk,1902,"George S. Fleming, Edwin S. Porter",NaN,unknown,The earliest known adaptation of the classic f...

In [35]:
wiki_filtered = wiki_transformed[(wiki_transformed["release_year"] >= 2010) & (wiki_transformed["release_year"] <= 2018)]
wiki_filtered

,title,release_year,director,cast,genre,plot
15776,127 Hours,2010,Danny Boyle,"James Franco, Amber Tamblyn, Kate Mara, Clémen...","biography, drama",Mountaineer Aron Ralston goes hiking at Utah's...
15777,The A-Team,2010,Joe Carnahan,"Liam Neeson, Bradley Cooper, Quinton ""Rampage""...","action, adventure","John ""Hannibal"" Smith is held captive in Mexic..."
15778,A Little Help,2010,Michael J. Weithorn,"Jenna Fischer, Chris O'Donnell, Rob Benedict, ...",comedy,Laura Pehlke (Jenna Fischer) is married to Bob...
15779,Adventures of Power,2010,Ari Gold,"Ari Gold, Michael McKean, Jane Lynch, Shoshann...",comedy,The story takes place in the fictional small t...
15780,Alice in Wonderland,2010,Tim Burton,"Johnny Depp, Anne Hathaway, Helena Bonham Cart...","family, fantasy",Troubled by a strange recurring dream and mour...
...,...,...,...,...,...,...
34881,The Water Diviner,2014,Director: Russell Crowe,Director: Russell Crowe\r\nCast: Russell Crowe...,unknown,"The film begins in 1919, just after World War ..."
34882,Çalgı Çengi İkimiz,2017,Selçuk Aydemir,"Ahmet Kural, Murat Cemcir",comedy,"Two musicians, Salih and Gürkan, described the..."
34883,Olanlar Oldu,2017,Hakan Algül,"Ata Demirer, Tuvana Türkay, Ülkü Duru",comedy,"Zafer, a sailor living with his mother Döndü i..."
34884,Non-Transferable,2017,Brendan Bradley,"YouTubers Shanna Malcolm, Shira Lazar, Sara Fl...",romantic comedy,The film centres around a young woman named Am...
34885,İstanbul Kırmızısı,2017,Ferzan Özpetek,"Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, ...",romantic,The writer Orhan Şahin returns to İstanbul aft...